.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.timeline-vertical {
  border-left: 3px solid #888;
  padding-left: 1rem;
  min-height: 300px;
}

.timeline h3 {
  margin-bottom: 1rem;
}

